/* Write your CSS here */
.thumbnail {
    width: 200px;
    height: 150px;
    border-radius: 8px;
    cursor: pointer;
}
.popup-content {
    background-color: #ffffff;
    width: 750px;
    height: 460px;
    border-radius: 16px;
}
.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.close-button {
    align-self: flex-end;
    background-color: transparent;
    width: 25px;
    height: 25px;
    border: none;
    margin-top: 18px;
    margin-right: 18px;
    outline: none;
    cursor: pointer;
}
.movie-player-container {
    margin-top: 15px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
}
@media (min-width: 1200px) {
    .thumbnail {
        width: 250px;
        height: 170px;
    }
}